#annotation {
  background-color: #f2f2f2;
  border-radius: 1rem;
  display: inline-block;
  white-space: pre-line;
  word-break: break-all;
  margin-bottom: 10px;
  border-width: 0;
  font-size: 14px;
}

#annotation-without-margin {
  background-color: #f2f2f2;
  border-radius: 1rem;
  display: inline-block;
  white-space: pre-line;
  word-break: break-all;
  border-width: 0;
  font-size: 14px;
}

.button-text {
  padding: '0';
  color: '#007bff';
}
