@import '~antd/es/style/themes/default.less';

.card {
  margin-bottom: 20px;
}

.text-key {
  color: @text-color-secondary;
}

.text-value {
}

.separator {
  display: inline-block;
  width: 1px;
  background: fade(@black, 20%);
  height: 100%;
  margin-right: 44px;
}

.card-body {
  display: flex;
  justify-content: flex-start;
}

.data {
  flex: 1;
  margin-left: 20px;
}

.data-column {
  display: inline-block;
  vertical-align: top;
}

.data-column-item {
  margin-bottom: 15px;
}



