.divider {
  margin: 10px 0 10px 0;
}

.header {
  margin-top: 10px;
}

.steps-action {
  float: right;
  margin-top: 24px;
  margin-right: 24px;
}

.site-navigation-steps {
  margin-bottom: 60px;
  box-shadow: 0 -1px 0 0 #e8e8e8 inset;
}

.steps-content {
  margin-top: 16px;
  padding: 20px;
  background-color: #fafafa;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
}

.step {
  margin-top: 16px;
}
